<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460053648842-6p566mh7e8ac6lor7qkr99ul65e1vej0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460053648842-6p566mh7e8ac6lor7qkr99ul65e1vej0</string>
	<key>API_KEY</key>
	<string>AIzaSyA7681gLR5Foj9hn7nRsRvwbnICOp4HNf4</string>
	<key>GCM_SENDER_ID</key>
	<string>460053648842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.signifi-hsato.firebase-sample</string>
	<key>PROJECT_ID</key>
	<string>test-cd7cd</string>
	<key>STORAGE_BUCKET</key>
	<string>test-cd7cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460053648842:ios:71fcd38ebc80f395f8eb33</string>
</dict>
</plist>